.square {
  background-color: green;
  display: inline-block;
  max-width: 57px;
  max-height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlighted {
  background-color: lightgreen;
  cursor: pointer;
  &:hover {
    background-color: lightsteelblue;
  }
}
